h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.divForm{
    text-align: center;
    border: 2px black solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.formulario{
    bot
}